.menu {
  display: none;
  position: relative;

}

.label-menu {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.label-menu #span1, #span2, #span3 {
  position: absolute;
  content: " ";
  background: currentColor;
  width: 30px;
  height: 5px;
  border-radius: 20px;
  transition: all 400ms ease;
}

#span2 {
  top: 11px;
}

#span3 {
  top: 22px;
}

#btn-menu {
  display: none;
}

#btn-menu:checked ~ .label-menu  #span1 {
  transform: rotate(140deg);
  top: 10px;
}

#btn-menu:checked ~ .label-menu  #span2 {
  opacity: 0;
}

#btn-menu:checked ~ .label-menu  #span3 {
  transform: rotate(-140deg);
  top: 10px;
}


.menuList {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2.375rem;
}

.menuItem {
  font-family: 'Raleway', sans-serif;
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: currentColor;
}


@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
  }

  .label-menu {
    display: none;
  }
}