.section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  margin-block-start: 8rem;
  margin-block-end: 5rem;
}

span {
  color: var(--primary);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
}

.section1 {
  background: var(--white2);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
  z-index: -2;
  min-inline-size: 320px;
}

.container {
  display: flex;
  place-content: center;
  position: relative;
  z-index: 1;
}


.statisticsContainer {
  inline-size: 10rem;
  block-size: 23rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: white;
  border-radius: 1rem;
  box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  margin-block-start: 7rem;
  margin-block-end: 7rem;
  padding: 1.5rem 2rem;
}

.userStatisticsInfo .infoTitle {
  color: var(--primary);
  font-size: 1.5rem;
}

.userStatisticsInfo p {
  color: currentColor;
  text-transform: uppercase;
  font-size: .75rem;
}

.descriptionContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3rem;
  margin-block-end: 5rem;
}

.mobileImg {
  display: flex;
}

.imageContainer {
  display: none;
}

.play {
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  cursor: pointer;
}

.play:active {
  transform: scale(.9);
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 .description {
  margin-block-start: 3rem;
  margin-block-end: 8rem;
}

.section2 .cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.squareContainer {
  position: relative;
}

@media screen and (min-width: 768px) {
  .section {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    margin-block-end: 2.5rem;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    max-inline-size: 31rem;
  }

  .section1 {
    background: var(--white2);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
  }

  .container {
    display: flex;
    position: relative;
    max-width: 40rem;
    margin: auto;
  }

  .statisticsContainer {
    inline-size: 40rem;
    block-size: 7rem;
    display: flex;
    flex-direction: row;
    gap: 6rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    border-radius: 1rem;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    margin-block-start: 7rem;
    margin-block-end: 7rem;
  }

  .descriptionContainer {
    display: flex;
    flex-direction: row;
    margin-block-end: 5rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }


  .section2 .cardsContainer {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

}

@media screen and (min-width: 1024px) {

  .section {
    block-size: 100vh;
    display: flex;
    justify-content: space-between;
  }

  .section img {
    inline-size: 386px;
    block-size: 640px;
  }

  .imageContainer {
    display: flex;
    background: white;
    border-radius: .5rem;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    position: relative;
    padding: 1.5rem 5rem;
  }

  .mobileImg {
    display: none;
  }

  .descriptionContainer .experts {
    display: flex;
    align-items: flex-start;
    text-align: start;
  }

  .section2 .cardsContainer {
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
  }

}